# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Large dependencies and installers
dependencies/*.exe
dependencies/*.zip
dependencies/*.msi
dependencies/*.dmg

# Processed book files
**/images/
**/text/
**/chapters/
**/combined/
*.zip
sample/

# Book files
*.pdf
*.djvu

# OS specific files
.DS_Store
Thumbs.db

# Environment variables
.env
